p {
font-family: sans-serif;
font-size: 14px;
margin-bottom: 0;
}

.gia-chart{
    width: 100%;
    height: 200px;
}

/*template styles*/
.gia-chart-wrapper {
margin: 0 auto;
}

/*chart styles*/
.y.axis line {
fill: none;
stroke: #dcdcdc;
stroke-dasharray: 1px 1px;
shape-rendering: crispEdges;
stroke-width: 1px;
}

.x.axis line {
fill: none;
stroke: #333333;
shape-rendering: crispEdges;
stroke-width: 1px;
}

.tick.g-baseline line {
stroke: #333333;
stroke-dasharray: 0;
stroke-width: 1px;
}

.axis text {
font-family: sans-serif;
font-size: 12px;
pointer-events: none;
fill: #bdbdbd;
}

.y.axis text {
text-anchor: end !important;
font-size: 12px;
fill: #bdbdbd;
}

.domain {
display: none;
}

.area {
opacity: 0.4;
}

.g-label-text {
font-family: sans-serif;
font-size: 14px;
}

.g-label-circle {
fill: #4bc6df;
}

.blueLine {
stroke: #005689;
stroke-width: 2px;
fill: none;
}

.redLine {
stroke: #d61d00;
stroke-width: 2px;
fill: none;
}

.labelBlue {
font-family: sans-serif;
font-size: 14px;
font-weight: 700;
fill: #005689;
text-anchor: end;
}

.labelRed {
font-family: sans-serif;
font-size: 14px;
font-weight: 700;
fill: #d61d00;
text-anchor: start;
}